<div class="tinyurl-list-section">
    <h2 class="tinyurl-list-title">Public URLs</h2>
    <input type="text" class="tinyurl-search-bar" placeholder="Search URLs..." name="searchTerm" autocomplete="off" />
    <div class="tinyurl-list tinyurl-scrollable-list">
        <!-- List starts here-->
        <div class="tinyurl-list-item">
            <div class="tinyurl-list-main">
                <div class="tinyurl-short-url-row">
                    <a target="_blank" class="tinyurl-short-url-link">https://tiny-url-demo.azurewebsites.net/70f835</a>
                    <button class="tinyurl-copy-btn tinyurl-copy-btn-small"><span>Copy</span></button>
                    <span title="Total Clicks" class="tinyurl-clicks-badge">16 clicks</span>
                </div>
                <div class="tinyurl-original-url">
                    https://metamation.com
                </div>
            </div>
            <button class="tinyurl-delete-btn">Delete</button>
        </div>
    </div>
</div>